* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image {
  background-color: lightblue;
  height: 30vw;
  width: 60vw;
  position: relative;
}
#image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cursor {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 4.5px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 9;
  position: fixed; /*For multiple pages to be shown*/
  /* position: absolute; cursor will be shown in just 1 page  */
}

#overlay {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
