* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
  color: #fff;
  text-align: center;
}
h5 {
  color: rgba(255, 255, 255, 0.527);
}
h2 {
  margin-top: 1rem;
  font-weight: normal;
}
#string {
  margin-top: 2rem;
  height: 200px;
  width: 100%;
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
}
