* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #333;
  font-family: sans-serif;
}
.wrap {
  max-width: 60%;
}
.bar {
  color: #fff;
  letter-spacing: 500;
  font-size: 16px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.bar .thumb {
  position: relative;
  display: inline-block;
  background: #000;
  height: 10px;
  width: 100%;
  border-radius: 60px;
  margin-top: 20px;
}
.bar span {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to left, #ff0057, #ffeb3b);
  border-radius: 50px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}
h1 {
  font-size: 5rem;
}
section:nth-child(odd) {
  background-color: rosybrown;
}
.bar:nth-child(1) span {
  width: 60%;
}
.bar:nth-child(2) span {
  width: 80%;
}
.bar:nth-child(3) span {
  width: 40%;
}
.bar:nth-child(4) span {
  width: 90%;
}
.bar abbr {
  width: 50px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  position: absolute;
  margin-left: -5px;
  z-index: 1;
  background: linear-gradient(to left, #ff0057, #ffeb3b);
  box-shadow: 0 5px 30px rgb(255 0 87/ 50%), 0 5px 30px rgb(255 255 59 / 59%);
  transform: translateX(-50%); /* Center the abbr element */
  top: 25px;
}
.bar:nth-child(1) abbr {
  left: 60%;
}
.bar:nth-child(2) abbr {
  left: 80%;
}
.bar:nth-child(3) abbr {
  left: 40%;
}
.bar:nth-child(4) abbr {
  left: 90%;
}
